#ChatMain {
    color: var(--text-colour);
}

.RoomBar, .ChatBar {
    border-radius: 0.5rem;
    height: 50rem;
}

.RoomBar {
    background-color: var(--fg-colour)
}

.ChatBar {
    background-color: var(--fg-colour)
}

.RoomSearchBar, .ChatInput {
    width: 100%;
    height: 3rem;
}

.RoomList {
    overflow-y: auto;
    max-height: 42rem;
}

.ChatViewport {
    height: calc(100% - 6rem);
    overflow-y: auto;
}