#ChatMain {
    color: var(--text-colour);
}

.RoomBar, .ChatBar {
    min-height: 50rem;
    background-color: var(--bg-colour);
}

.RoomSearchBar, .ChatInput {
    width: 100%;
}

.RoomList, .ChatViewport {
    overflow-y: auto;
}

.RoomList {
    max-height: 44.75rem;
}

.ChatViewport {
    max-height: 42rem;
    height: calc(100% - 10rem - 0.5rem);
}